<div class="tab npc-details" data-group="primary" data-tab="npc-details">
	{{> actors/watercraft/partials/type }}
	{{> actors/watercraft/partials/attributes }}
	{{> actors/watercraft/partials/health }}
</div>
