<div class="tab character" data-group="primary" data-tab="notes">
	{{editor
		notesHTML
		target="system.details.notes"
		button=true
		editable=editable
		engine="prosemirror"
		collaborate=false
	}}
</div>
