<div class="tab npc-abilities" data-group="primary" data-tab="npc-abilities">
	{{> actors/_shared-partials/skills-readonly }}
	{{> actors/_shared-partials/attacks }}
	{{> actors/_shared-partials/actions }}
</div>
