<div class="tab npc-notes notes-entry" data-group="primary" data-tab="npc-notes">
	{{editor
		biographyHTML
		target="system.details.biography.value"
		button=true
		editable=editable
		engine="prosemirror"
		collaborate=false
	}}
</div>
