<footer class="card-footer item-properties tags">
	{{#each data.properties}}
		<span
			class="tag chat-tag chat-tag_secondary"
			data-tooltip="{{this}}"
		>
			{{this}}
		</span>
	{{/each}}
	{{#each data.qualities}}
		<span
			class="tag chat-tag"
			data-tooltip="{{this.description}}"
		>
			{{this.label}}
		</span>
	{{/each}}
</footer>
