<div class="form-group">
	<div class="setting-grid stacked">
		<div class="grid-1-columns">
			<label>
				{{stage.label}}
			</label>
			<input
				name="characterName"
				type="text"
				value="{{stage.characterName}}"
				placeholder="{{localize "CONAN.Form.CharacterName.prompt"}}"
			/>
		</div>
	</div>
</div>
