<div class="grid-2-columns">

		<div class="form-group stacked">
			{{> items/partials/choice-selector
				config=careerSkillsConfig
			}}
		</div>

		<div class="form-group stacked">
			{{> items/partials/choice-selector
				config=careerTalentConfig
			}}
		</div>

		<div class="form-group stacked">
			{{> items/partials/choice-selector
				config=mandatorySkillsConfig
			}}
		</div>

		<div class="form-group stacked">
			{{> items/partials/choice-selector
				config=electiveSkillsConfig
			}}
		</div>

</div>
