<div class="grid-2-columns">

	<div class="form-group stacked">
		{{> items/partials/choice-selector
			config=mandatoryAttributesConfig
		}}
	</div>

	<div class="form-group stacked">
		{{> items/partials/choice-selector
			config=optionalAttributesConfig
		}}
	</div>

</div>
