<div class="grid-2-columns">
	<div class="form-group stacked">
		{{> items/partials/choice-selector
			config=homelandTalentConfig
		}}
	</div>

	<div class="form-group stacked">
		{{> items/partials/choice-selector
			config=homelandLanguageConfig
		}}
	</div>
</div>
