<div class="grid-2-columns">
	<div class="form-group">
		<div class="setting-grid">
			<label>{{localize "CONAN.Item.Story.Trait.label"}}</label>
			<input
				type="text"
				name="system.trait"
				placeholder="{{localize "CONAN.Item.Story.Trait.prompt"}}"
				value="{{item.system.trait}}"
			/>
		</div>
	</div>
</div>
