<header>
	<h3>{{localize "CONAN.Chat.SkillRollRequest.title"}}</h3>
	<em>{{localize "CONAN.Chat.SkillRollRequest.description"}}</em>
</header>

<div
	class="card-content"
	style="margin: 4px;"
>
	@rst[{{skill}},{{difficulty}}]
</div>
