<header class="npc-sheet-banner__grid">
	<div class="npc-sheet-banner__left"></div>

	<div class="npc-sheet-banner__centre">
		<input
			name="name"
			placeholder="{{localize "CONAN.Form.CharacterName.prompt"}}"
			type="text"
			value="{{actor.name}}"
		/>
	</div>

	<div class="npc-sheet-banner__right"></div>
</header>
